/* ==========================APP=============================== */




/* =======================INDEX/LANDING============================ */

/* .darkContainer {
  padding: 0 2rem;
  background-color: black;
} */

.container {
  /* padding: 0 2rem; */
}

.main {
  min-height: 100vh;
  min-width: 100%;
  justify-content: center;
  align-items: center;
}

.grid {
  background-color: #eaeaea;
  min-height: 100vh;
  display: grid;
  grid-template-rows: repeat(2, 1fr, [row-start]);
  grid-template-columns: repeat(2, 1fr, [col-start]);
}


/* .darkGrid {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  flex-wrap: wrap;
} */

.grid:hover > * {
  opacity: 0.95;
  transition: 0.3s;
  /* transform: rotate(180deg); */
}

.grid:hover > *:hover {
  opacity: 1;
  transform: scale(1.05);
}

.grid {
  pointer-events: none;
  min-width: 100%;
  transition: 0.3s;
}

.grid > * {
  background: #fff;
  cursor: pointer;
  pointer-events: auto;
  transition: 150ms opacity, 150ms transform;
}

.card {
  margin: 0.5rem;
  padding: 1.5rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  vertical-align: middle;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column; 
  font-family: Helvetica;
}

.card:hover {
  /* mondrian-esque */
  font-size: 55px;
  transition: 0.2s;
}
.card h2 {
  margin: 0 0 1rem 0;
}


#aboutCard {
  color: #89608E;
  grid-column: 0 / col-start 1;
  grid-row: 0 / row-start 1;

}
#aboutCard:hover {
  background-color: #89608E;
  border-color: #89608E;
  color: white;
}

#experienceCard {
  color: #F79256;
  grid-column: col-start 1 / col-start 2;
  grid-row: 0 / row-start 1;

}
#experienceCard:hover {
  background-color: #F79256;
  border-color: #F79256;
  color: white;
}


#galleryCard {
  color: #00B2CA;
  grid-column: 0 / col-start 1;
  grid-row: row-start 1 / row-start 2;

}
#galleryCard:hover {
  background-color: #00B2CA;
  border-color: #00B2CA;
  color: white;
}


#contactCard {
  color: #9BC53D;
  grid-column: col-start 1 / col-start 2;
  grid-row: row-start 1 / row-start 2;
}

#contactCard:hover {
  background-color: #9BC53D;
  border-color: #9BC53D;
  color: white;
}




/* ============FOOTER=============== */


.footer {
  display: flex;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  /* justify-content: center; */
  /* align-items: center; */
}
.footerCopyright {
  padding-left: 90px;
  margin-right: auto;
}

.footerIconsContainer {
  /* background-color: #00B2CA; */
  padding: 0px 90px 0 0;
  margin-left: auto;
  font-size: 45px;
  display: inline;
  margin-top: -1rem;
}


#footerGithubIcon:hover {
  color:#89608E;
}

#footerLinkedinIcon:hover {
  color:#F79256;
}

#footerMailIcon:hover {
  color:#00B2CA;
}

#footerResumeIcon:hover {
  color:#9BC53D;
}


/* ==============PAGES==================== */

.pageContainer {
  /* padding: 0 2rem; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0px;
  overflow: hidden;
}


/* =========ABOUT============ */

.largeParagraphText {
  font-size: 40px;
  font-weight: 500;
  padding: 0 0 15px 0;
}


#purple {
  color: #89608E;
}

.aboutText{
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; */
  max-width: 500px;
}


/* =========EXPERIENCE============ */

#orange {
  color: #F79256;
}

/* =========GALLERY============ */
#teal {
  color: #00B2CA;
}

.galleryContainer {
  margin-top: 300px;
  padding-top: 300px;
}

.galleryImage {
  position: absolute;
  transform: translate(-50%, -50%);
}

.galleryImage[data-status="inactive"] {
display: none;
}


#blob {
  background-color: black;
  aspect-ratio: 1;
  position: absolute;
  font-size: 35px;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, #03fcec, #00B2CA);
  animation: rotate 20s infinite;
  height:34vmax;
  opacity: 0.8;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(12vmax);
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  
  50% {
    scale: 1 1.5;
  }
  
  to {
    rotate: 360deg;
  }
}



/* =========CONTACT============ */
#lime {
  color: #9BC53D;
}

/* =========TIMELINE=========== */

.timelineContainer {
  font-family: Helvetica;
}

.timelineElementTitle {
  font-size: 25px;
  font-weight: 700;
  color: black;
}

.timelineElementTech {
  font-size: 18px;
  font-weight: 600;
  color: black;
  padding: 5px 0 0 0;
  font-style: italic;
}

.timelineElementDescription {
  font-size: 16px;
  color: black;
  padding: 5px 0 0 0;
}

.timelineElementIcons {
  font-size: 25px;
  padding: 5px 0 0 0;
}

.timelineElementIcon {
  padding: 0 7px 0 0;
}

.timelineElementIcon:hover {

  /* font-size: 50px !important; */
  color: #787777;
}

/* ==========CONTACT================== */
.contactIcons {
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 500px;
}

.contactIcons:hover > * {
  opacity: 0.8;
}

.contactIcons:hover > *:hover {
  opacity: 1;
  /* transform: scale(1.1); */
  color: #9BC53D;
}

.contactIcons {
  pointer-events: none;
  /* background-color: black; */
}

.contactIcons > * {
  background: #fff;
  cursor: pointer;
  pointer-events: auto;
  transition: 150ms opacity, 150ms transform;;
}



/* ============Page title============== */

.pageTitle {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}

.title {
  padding: 0 0 15px 0;
}

/* ===============Back============== */


.back {
  background-color: #00B2CA;
}

.backText {
  position:absolute;
  left: 15px;
  top: 0px;
  font-size: 45px;
  font-weight: 700;
  padding: 0px 0px 0px 0;
}

.strongParagraph {
  font-weight: 700;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}





